<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="Welcomepage.css">
</head>
<body>
<div class="container">
    <h1>Bienvenue à <span class="company-name">Notre Entreprise</span></h1>
    <p>Nous sommes engagés à fournir des solutions de qualité pour faciliter la gestion des ressources humaines et améliorer l'efficacité de votre organisation.</p>
    <p>Accédez à votre espace dédié en cliquant ci-dessous</p>
    <div class="button-container">
        <a href="SigninAdmin.html" class="button">Espace Admin</a>
        <a href="../Employee/SigninEmployee.html" class="button">Espace Employés</a>
    </div>
</div>
</body>
</html>
